.answer_field {
    font-size: large;
    padding-bottom: 24px;
  }

  .chat_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    position: relative;
  }

  .chat_wrapper {
    margin: 0 auto;
    max-width: 770px;
    width: 100%;
  }

  .answer_heading {
    margin-top: 1.5rem;
    color: #fff;
  }
  
  .answer_paragraph {
    color: #fff;
    margin-top: 0.75rem;
    line-height: 1.6;
  }

  .bubble_row {
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;
    padding-bottom: 70px;
  }

  .bubble {
    display: inline-block;  
    max-width: 60%;
    background: var(--gpt-link-hover);
    color: var(--gpt-text);
    padding: 12px 20px;
    border-radius: 22px;
    word-wrap: break-word;
  }

  .thinking {
    display: inline-block;    
    white-space: nowrap;        
    overflow: hidden;           
    vertical-align: bottom;     
    animation: shine 1.2s ease-in-out infinite;
}

/* add 3 dots */
.thinking::after {
  content: '...';
  display: inline-block;
  width: 0ch;
  animation: ellipsis 1.2s steps(3,end) infinite;
}

@keyframes ellipsis {
  0%   { width: 0ch; }
  33%  { width: 1ch; }
  66%  { width: 2ch; }
  100% { width: 3ch; }
}

@keyframes shine {
  0%, 100% { color: var(--gpt-text-subtle); }
  50% { color: #707070; }
}