.scroll_button {
    position: fixed;
    bottom: 130px;
    z-index: 100;
    background-color: #212121;
    color: white;
    border: 1px solid #414241;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .scroll_button {
      bottom: 106px;
      width: 28px;
      height: 28px;
    }
  }