.sidebar {
  width: 249px;
  flex-shrink: 0;
  background: var(--gpt-side);
  border-right: 1px solid var(--gpt-side-border);
  padding: 10px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 0.3s ease;
  z-index: 100;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  margin-left: 10px;
}

.navLinks {
  display: flex;
  flex-direction: column;            
  overflow-y: auto;    
  flex: 1;             
}

.sidebar.closed {
  width: 35px;
  padding: 16px 8px;
  background: var(--gpt-side-closed);
  border-right: 1px solid var(--gpt-side-border-closed);
  cursor: e-resize;
}

.toggleBtn {
  background: none;
  border: none;
  color: var(--gpt-text-subtle);
  font-size: 18px;
  cursor: w-resize;
  align-self: flex-end;
}

.toggleBtn.closed {
  cursor: e-resize;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  font-size: 14.5px;
  color: var(--gpt-text-subtle);
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.2s;
  white-space: nowrap;
  overflow: hidden;
}

.toggleBtn:hover {
  color: #c1c1c1
}

.link:hover {
  background: var(--gpt-link-hover);
  color: var(--gpt-text);
}

.active {
  background: var(--gpt-link-active);
  color: var(--gpt-text);
}